@media screen and (min-width: 90rem/* 1440px */) {
  span {
    letter-spacing: var(--ls-1-desk);
    font-size: var(--fs-1-desk);
  }
  h1 {
    font-size: var(--fs-1-desk);
    line-height: normal;
    letter-spacing: var(--ls-1-desk);
  }

  .title p {
    text-align: center;
    width: 33rem;
    margin: auto;
  }
  .cards {
    margin: auto;
    padding: 4.5rem 7rem 0 7rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    max-width: 22rem;
    height: 15.625rem;
  }
  .card-1 {
    margin: auto;
    grid-column-start: 1; /* Start at the first column */
    transform: translate(-5%, 53%);
  }
  .card-2 {
    grid-column-start: 2; /* Start at the second column */
  }
  .card-3 {
    grid-column-start: 2; /* Start at the second column */
  }
  .card-4 {
    grid-column-start: 3; /* Start at the third column */
    transform: translate(5%, -53%);
  }
  .card img {
    margin: 0 2rem 1rem 0;
  }
  .attribution {
    transform: translate(0%, -5%);
  }
}
