:root {
  /*font weight */
  --fw-200: 200;
  --fw-400: 400;
  --fw-600: 700;

  /*letter spacing */
  --ls-1: 0.01044rem;
  --ls-2: 0.0065rem;
  --ls-3: 0.00563rem;

  /* letter spacing desktop */
  --ls-1-desk: 0.01563rem;

  /*font size mobile */
  --fs-1: 1.5rem;
  --fs-2: 0.9375rem;
  --fs-3: 1.25rem;
  --fs-4: 0.8125rem;

  /* font size desktop */
  --fs-1-desk: 2.25rem;
}
